h1
{
     color:blue;
}
P{
color:;
}
td{
    color:brown;
}

table{
     font-family : Helvetica, sans-serif;
    border-collapse: collapse;
    border-width:1px;
    border-style: solid;
    border-color: #00BFFF;
}
th {
    
     font-weight: 900;
    background-color:#00BFFF;
    color:#F3E2A9;
    font-family: inherit;
}